#div1{
    background-color: red;
    height: 100px;
    width: 100px;
}
.div2{
    background-color: aqua;
    height: 100px;
    width: 100px;

}
div{
    background-color: blue;
    height: 100px;
    width: 100px;
}
body{
    background-color: beige;
}